.back-img{
    background-image: url('/assets/images/expense.png');
    background-size: cover;
    height: 100vh;
}

.border {
    border: solid red;
}

.center {
    transform: translateX(50%);
    margin-top: 1.5rem;
}